#img-div img{
    width:100%;
    text-align: center;
    max-width: 100%;
    display:block;
   
}
#img-div{
    padding: 1.5rem;
    margin-bottom:1rem ;
    background-color: darkgrey;
}

#main{
    text-align: center;
}
@media only screen and (max-width:500px){
    #img-div img{
        width:100%;
        text-align: center;
       
    }
    #img-div{
        padding: 0rem;
        margin-bottom:0.5rem ;
    }
    #img-caption{
        font-size: 2px;
    }

  }